DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=5432

# Generate with: python -c "import secrets; print(secrets.token_urlsafe(50))"
SECRET_KEY=

ADMIN_PASSWORD=

DEBUG=false
ALLOWED_HOSTS=chez.arn0.be
CSRF_TRUSTED_ORIGINS=https://chez.arn0.be
