node_modules/
dist/
dist-ssr/
*.local

# OS
.DS_Store

# Editors
.vscode/*
!.vscode/extensions.json
.idea/

# Env files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
